<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l1Akr.mapper.UserMapper">
    <insert id="InsertByUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO userDTO (username, password, sex, telephone, create_time, update_time)
        VALUES (#{userDTO.username}, #{userDTO.sex}, #{userDTO.telephone}, #{userDTO.create_time}, #{userDTO.update_time})
    </insert>
</mapper>