<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l1Akr.pojo.dao.mapper.UserMapper">
    <insert id="insertByUserBasePo" useGeneratedKeys="true" keyProperty="id" parameterType="com.l1Akr.pojo.po.UserBasePO">
        INSERT INTO user_base (id, username, password, sex, avatar, telephone, create_time, update_time)
        VALUES (#{id}, #{username}, #{password}, #{sex}, #{avatar}, #{telephone}, #{createTime}, #{updateTime})
    </insert>

    <select id="findByUserBasePo" resultType="com.l1Akr.pojo.po.UserBasePO">
        select * from user_base
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="username != null">and username = #{username}</if>
            <if test="password != null">and password = #{password}</if>
            <if test="sex != null">and sex = #{sex}</if>
            <if test="telephone != null">and telephone = #{telephone}</if>
            <if test="createTime != null">and create_time =#{createTime}</if>
        </where>
    </select>

    <update id="updateByUserBasePo">
        UPDATE user_base
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
        </set>
        WHERE id = #{id}
    </update>
<select id="getUserCount" resultType="int">
        SELECT COUNT(*) FROM user_base
    </select>
    
    <select id="findAllUsers" resultType="com.l1Akr.pojo.po.UserBasePO">
        SELECT * FROM user_base
    </select>
    
    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        DELETE FROM user_base WHERE id = #{id}
    </delete>
</mapper>