<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l1Akr.mapper.UserSampleMappingMapper">

    <insert id="insertByUserSampleMappingPo" parameterType="com.l1Akr.po.UserSampleMappingPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_sample_mapping (user_id, sample_id)
        VALUES (#{userId}, #{sampleId})
    </insert>
    <select id="getUserSampleMappingByUserIdAndSampleId" resultType="com.l1Akr.po.UserSampleMappingPO">
        select * from user_sample_mapping
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="sampleId != null">
                and sample_id = #{sampleId}
            </if>
        </where>
        <if test="limit != null">
            limit #{limit}
        </if>
    </select>
</mapper>